{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block body %}

    <div>
        <h1>{{ blog.title }}</h1>
        <p class="lead">
            by {{blog.author}}</a>
        </p>
        <hr>
        <p><span class="glyphicon glyphicon-time"></span> Posted on {{ blog.created|date('l, F j, Y') }}</p>
        <hr>
        <img class="img-responsive" src="{{ asset(['images/', blog.image]|join) }}" alt="{{ blog.title }}">
        <hr>
        <p class="lead">{{ blog.blog }}</p>
        <hr>

        <section class="comments" id="comments">
            <section >
                <h3>Add Comment</h3>
                {{ render(controller('BloggerBlogBundle:Comment:new',{ 'blog_id': blog.id, 'attr':{'class': 'form-control'} })) }}
                <h3>Comments</h3>
                {% include 'BloggerBlogBundle:Comment:post.html.twig' with { 'comments': comments } %}
            </section>
        </section>

    </div>
{% endblock %}