{% extends "BlogBundle::layout.html.twig" %}

{% block title %}
    symfony2 Учебник | Админка | Главная
{% endblock %}

{% block content %}
    <h2>
        Добро пожаловать на администраторскую страницу, {{ app.user.email }}!
    </h2>
{% endblock %}