<!-- app/Resources/views/base.html.twig -->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
    <title>{% block title %}News{% endblock %} - News</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    <![endif]-->
    {% block stylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
        <link href="{{ asset('css/bootstrap-theme.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Brand</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% block navigation %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('BloggerBlogBundle_blog') }}">Blog</a></li>
                <li><a href="{{ path('BloggerBlogBundle_about') }}">About</a></li>
            </ul>
            {% endblock %}
        </div>
    </div>
</nav>
<section class="container">
<div class="col-md-8">
        {% block body %}{% endblock %}
</div>
    {% if app.request.get('_route')  != 'BloggerBlogBundle_homepage' %}
        {% block sidebar %}<div class="col-md-4 pull-right">
            <div class="well">
                <h4>Поиск</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
							<button class="btn btn-default" type="button">
							<span class="glyphicon glyphicon-search"></span>
							</button>
							</span>
                </div>
            </div>
            <div class="well">
                <h4>Категории</h4>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-unstyled">
                            <li><a href="#">Category Name</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="well">
                <h4>Какая-то надпись</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
            </div>
        </div>{% endblock %}
    {% endif %}
</section>
    <footer>
        <div class="row">
            <div class="container">
                <p>Copyright &copy; Blog by vkrbt & Xmblr 2016</p>
            </div>
        </div>
    </footer>


{% block javascripts %}
    <script type="text/javascript" src="{{ asset("js/jquery-3.1.1.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/bootstrap.min.js") }}"></script>
{% endblock %}
</body>
</html>