{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block body %}
    <h1 class="page-header">
        Новости
        <small>свежие</small>
    </h1>
    {% for blog in blogs %}
        <div>

            <h2>
                <a href="{{ path('BloggerBlogBundle_blog_show', { 'id': blog.id }) }}">{{ blog.title }}</a>
            </h2>
            <p><span class="glyphicon glyphicon-time"></span>{{ blog.created|date('l, F j, Y') }}</p>
            <hr>
            <img class="img-responsive" src="{{ asset(['images/', blog.image]|join) }}">
            <hr>
            <p>{{ blog.blog(500) }}</p>{{ blog.blog(500) }}

            <hr>
            <p>Posted by <span class="highlight">{{blog.author}}</span> at {{ blog.created|date('h:iA') }}</p>
            <a class="btn btn-primary" href="{{ path('BloggerBlogBundle_blog_show', { 'id': blog.id }) }}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
            {#<p>Tags: <span class="highlight">{{ blog.tags }}</span></p>#}
            <hr>
        </div>
    {% else %}
        <p>There are no blog entries for symblog</p>
    {% endfor %}

            <div>


            <ul class="pager">
                <li class="previous">
                    <a href="#">&larr; Назад</a>
                </li>
                <li class="next">
                    <a href="#">Дальше &rarr;</a>
                </li>
            </ul>
        </div>

{% endblock %}