{# src/Blogger/BlogBundle/Resources/views/Page/contact.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Authorization{% endblock%}

{% block body %}
<div class="container">
    <div class="tab-content">
        <div id="registration" class="tab-pane fade in active">
            <div class="jumbotron col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <h3>Регистрация</h3>
                {{ form_start(form1, { 'action': path('BloggerBlogBundle_homepage'), 'method': 'POST' }) }}
                {{ form_errors(form1) }}
                <div class="form-group">
                    {{ form_row(form1.email, {'attr':{'class':'form-control' }}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form1.password, {'attr':{'class':'form-control' }}) }}
                </div>
                <input type="submit"  class="btn btn-default" value="Submit" />
                {{ form_rest(form1) }}
            </div>
        </div>
        <div id="enter" class="tab-pane fade">
            <div class="jumbotron col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <h3>Вход</h3>
                {{ form_start(form2, { 'action': path('BloggerBlogBundle_homepage'), 'method': 'POST' }) }}
                {{ form_errors(form2) }}
                <div class="form-group">
                    {{ form_row(form2.email, {'attr':{'class':'form-control' }})}}
                </div>
                <div class="form-group">
                    {{ form_row(form2.password, {'attr':{'class':'form-control' }}) }}
                </div>
                <input type="submit"  class="btn btn-default" value="Submit" />
                {{ form_rest(form2) }}
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <ul class="nav nav-pills">
            <li><a data-toggle="pill" href="#registration">Регистрация</a></li>
            <li><a data-toggle="pill" href="#enter">Вход</a></li>
        </ul>
    </div>

</div>

{% endblock %}