{# src/Blogger/BlogBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/bloggerblog/css/blog.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
<div id="container">
    <header class="clearfix">
        <h1>
            symfony2 Учебник
        </h1>
        <nav>
            <ul>
                <li>

                </li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li>
                        <a href="{{ path('_security_logout') }}">
                            Выход
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
 {% endblock %}