{# src/Blogger/BlogBundle/Resources/views/Comment/form.html.twig #}
{{ form_start(form, { 'action': path('BloggerBlogBundle_comment_create' , { 'blog_id' : comment.blog.id }), 'method': 'POST', 'attr': {'class': 'well'} }) }}

    {{ form_widget(form,{ 'attr': {'class': 'form-group'} }) }}
<p>
    <button type="submit" class="btn btn-primary" >Отправить</button>
</p>