{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}
    symfony2 Учебник | Войти
{% endblock %}

{% block body %}
    {% if error %}
        <div class="error">{{ error.message }}</div>
    {% endif %}

    <form action="{{ path('_security_check') }}" method="POST">
        <table>
            <tr>
                <td>
                    <label for="email">E-mail:</label>
                </td>
                <td>
                    <input type="text" id="email" name="_username" value="{{ email }}" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password">Пароль:</label>
                </td>
                <td>
                    <input type="password" id="password" name="_password" />
                </td>
            </tr>
        </table>
        <input type="submit" name="login" value="Отправить" />
    </form>
{% endblock %}